body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.wrap {
  margin: 0;
  padding: 40px;
  min-height: 100vh;
  background-repeat: repeat;
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Hoefler Text", Georgia, serif;
}

.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.dictionary {
  margin-bottom: 16px;
}

.title {
  font-family: "old-man-eloquent";
  display: inline-block;
  font-size: 48px;
  line-height: 30px;
  color: #F2F5F6;
  font-weight: normal;
  margin: 0;
  vertical-align: bottom;
}

.phonetic {
  display: inline-block;
  font-size: 18px;
  color: #B4B6B6;
  margin-left: 32px;
  vertical-align: bottom;
  position: relative;
  top: -6px;
}

.description {
  font-size: 18px;
  color: #B4B6B6;
  margin-top: 16px;
}

.copy {
  font-family: "old-man-eloquent";
  font-size: 32px;
  color: #B4B6B6;
  line-height: 1.5;
  margin-top: 16px;
  opacity: 0;

  .wf-active & {
    opacity: 1;
  }
}

.copy p {
  margin: 0;
}

@media (max-width: 480px) {
  .phonetic {
    margin-left: 0;
    margin-top: 16px;
    display: block;
    top: 0;
  }

}
